*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body{
  background-color: var(--primaryColor);
}

:root {
  --primaryColor: #D71327;
  --secondaryColor: #ffff;
  --ternaryColor: #0d0d0d;
  --footerBottom: #4f4f4f;
  --disableBtnColor: #e0e0e0;
}

:root{
  --lg:1024px;
  --md:768px;
  --sm:425px;
  --xs:360px;
}

.btn{
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primaryColor);
  color: var(--secondaryColor);
  border: none;
  outline: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 700;
  padding: 8px 30px;
  cursor: pointer;
  @media only screen and (max-width:425px){
    width: 100%;
  }
}
.btn:hover{
  transition: all ease-in-out 0.2s;
  opacity: 0.8;
}